* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.popup {
  padding: 20px;
}

button {
  width: 150px;
  cursor: pointer;
  border: none;
  background-color: rgb(29, 120, 211);
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
}
